# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
venv/
.env

# React/Node.js
node_modules/
/frontend/node_modules
/frontend/build
/frontend/.env
/frontend/.DS_Store
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Development tools
.idea/
.vscode/
.DS_Store
*.swp
*.swo